dist/node-red-flow.json
[
  {
    "id": "3753113e4e85d148",
    "type": "tab",
    "label": "Fly Dangerous Telemetry",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "4a5ee71242f8fdb1",
    "type": "udp in",
    "z": "3753113e4e85d148",
    "name": "FlyDangerous",
    "iface": "",
    "port": "11000",
    "ipv": "udp4",
    "multicast": "false",
    "group": "",
    "datatype": "utf8",
    "x": 130,
    "y": 220,
    "wires": [["4426df8096a51560"]]
  },
  {
    "id": "fd3bb54f21449185",
    "type": "json",
    "z": "3753113e4e85d148",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 530,
    "y": 220,
    "wires": [["2ceb509d85fd9947"]]
  },
  {
    "id": "2ceb509d85fd9947",
    "type": "function",
    "z": "3753113e4e85d148",
    "name": "convertToStatus",
    "func": "    msg = msg.payload;\n\n  if (!msg || msg.flyDangerousTelemetryId != 1) {\n    return {};\n  }\n\n  // console.log(data);\n\n  // see https://elite-journal.readthedocs.io/en/latest/Status%20File/\n  let flags = 0;\n  if (msg.boostChargeReady) flags += 8; // shields ready\n  if (msg.isBoostThrustActive) flags += 16; //super cruise\n  if (!msg.vectorFlightAssistActive && !msg.rotationalFlightAssistActive)\n    flags += 32;\n  if (msg.velocityLimiterActive) flags += 512; // Cargo Scoop Deployed\n  if (msg.underWater) flags += 1024; // silent running\n  if (msg.isBoostSpooling) flags += 65536; //mass locked\n  if (msg.isBoostSpooling) flags += 131072; //fsd charging\n  if (msg.isBoostThrustActive) flags += 262144; //fsd cooldown\n  if (msg.proximityWarning) flags += 4194304; // IsInDanger\n  if (msg.lightsActive) flags += 268435456; // night vision\n\n  const status = {\n    timestamp: new Date().getTime(),\n    event: \"Status\",\n    Flags: flags,\n    Cargo: 0,\n    // TODO: that's absolute numbers\n    Latitude: 0, //data.lateralHPosition,\n    Longitude: 0, //data.lateralVPosition,\n    // TODO: to be calculated\n    GuiFocus: 0,\n    Heading: msg.shipWorldRotationEuler.y,\n    Altitude: msg.shipAltitude < 2000 ? msg.shipHeightFromGround : msg.shipAltitude,\n    Speed: msg.shipSpeed,\n    BodyName: msg.currentLevelName,\n    PlanetRadius: 6371,\n  }\n\n  return {payload: status}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 700,
    "y": 220,
    "wires": [["6ee7395b6c5b5866"]]
  },
  {
    "id": "4426df8096a51560",
    "type": "delay",
    "z": "3753113e4e85d148",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "0.2",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "allowrate": false,
    "outputs": 1,
    "x": 340,
    "y": 220,
    "wires": [["fd3bb54f21449185"]]
  },
  {
    "id": "6ee7395b6c5b5866",
    "type": "link out",
    "z": "3753113e4e85d148",
    "name": "Fly Dangerous UDP Server",
    "mode": "link",
    "links": ["38e7dc14145211d9"],
    "x": 865,
    "y": 220,
    "wires": []
  }
]
